body {
    margin: 0;
    padding: 0;
    font-family: Outfit;
    background-color: rgb(240, 233, 233);
}

.container {
    background-color: rgb(255, 255, 255);
    width: 15%;
    height: 15vw;

    border-radius: 0vw;
    margin: 0.5vw;

}

.pequeno {
    width: 10vw;
    height: 10vw;
}

.medio {
    width: 25vw;
    height: 25vw;
}

.grande {
    width: 40vw;
    height: 40vw;
}

.full {
    width: 97vw;
    height: 97vh;
    margin: auto;
}

.metade {
    flex: 1;
    margin: 0;
}

.inline {
    display: flex;
    gap: 2vw;
}

.largo {
    width: 100%;
    margin: 0;
}

.alto {
    height: 100%;
}

.home {
    height: 50%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header {
    background: rgb(255, 255, 255);
    height: 10vh;
    align-items: center;
}

.imgContainer {
    height: 100%;
    width: 10%;

}

.headerImg {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.tituloHeader {
    font-size: 3vw;
    font-weight: 800;
    font-style: italic;
}

.ButtonHeader {
    background: #0E0E25FF;
    color: white;
    opacity: 1;
    width: 15vw;
    height: 7vh;
    border: none;
    border-radius: 2vw;
    font-size: 2vw;
    font-weight: 600;
    margin-left: auto;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;

}

.ButtonHeader:hover {
    background: #171A1FFF;
    transform: scale(1.1);
}

.main {
    height: 90vh;
    background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
        url("imagens/ImagemMain.png") no-repeat center/cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 233, 233);
}

.mainTxt {
    background: none;
    width: 60%;
    height: 60%;
}

.tituloMain {
    font-size: 5vw;
    opacity: 10;
    font-weight: 800;
    width: 70%;
    height: 15vh;
}

.descriçãoMain {
    font-size: 2vw;
    width: 62%;

}

.buttonMain {
    background: #0E0E25FF;
    color: white;
    opacity: 1;
    width: 25vw;
    height: 10vh;
    border: none;
    border-radius: 5vw;
    font-size: 1.5vw;
    font-weight: 600;
    transition: 0.3s;
    text-decoration: none;
}

.buttonMain:hover {
    background: #171A1FFF;
    transform: scale(1.1);
}

.section {
    height: auto;
    background-color: rgb(240, 233, 233);
}

.titulo-planos {
    font-size: 4vw;
    font-weight: 800;
    margin-bottom: 2vh;
    background-color: rgb(240, 233, 233);
    height: auto;



    h2 {
        margin-top: 5vw;
        font-family: Outfit;
        font-size: 4vw;
        font-weight: 700;
        color: rgb(0, 0, 0);

    }

    .planos-descrição {

        font-family: Outfit;
        font-size: 3vw;
        font-weight: 400;
        color: #171A1FE6;
        margin-top: 0vh;

    }
}

.planos {
    background-color: rgb(240, 233, 233);
    display: flex;
    flex-direction: row;
    height: 90vh;
}

.planotitulo {

    margin-top: 2vh;
    font-family: Outfit;
    font-size: 4vw;
    line-height: 5vh;
    font-weight: 600;
    color: #171A1FFF;
    margin-top: 5vh;

}

.plano1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5vw;
    border: solid 0.2vw #0E0E25FF;
    height: 90vh;
    width: 30vw;


    .preço1 {
        font-family: Outfit;
        font-size: 4vw;
        line-height: 0vh;
        font-weight: 700;
        color: #0E0E25FF;

    }

    p {
        font-family: Outfit;
        font-size: 2vw;
        line-height: 4vh;
        font-weight: 400;
        color: #171A1FE6;
    }

    .button-plano {
        background: #0E0E25FF;
        color: white;
        opacity: 1;
        width: 20vw;
        height: 8vh;
        border: none;
        border-radius: 5vw;
        font-size: 2vw;
        font-weight: 600;
        margin-top: 5vh;
        transition: 0.3s;
        margin-bottom: 5vh;
        text-decoration: none;
    }

    .button-plano:hover {
        background: #171A1FFF;
        transform: scale(1.1);
    }
}

.plano2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5vw;
    border: solid 0.2vw #0E0E25FF;
    font-size: 2vw;
    height: 90vh;
    width: 30vw;


    .planotitulo2 {

        margin-top: 5vh;
        font-family: Outfit;
        font-size: 4vw;
        line-height: 5vh;
        font-weight: 600;
        color: #171A1FFF;

    }

    .preço2 {
        font-family: Outfit;
        font-size: 4vw;
        line-height: 0vh;
        font-weight: 700;
        color: #0E0E25FF;


    }

    p {
        font-family: Outfit;
        font-size: 2vw;
        line-height: 4vh;
        font-weight: 400;
        color: #171A1FE6;
    }

    .button-plano {
        background: #0E0E25FF;
        color: white;
        opacity: 1;
        width: 20vw;
        height: 8vh;
        border: none;
        border-radius: 4vw;
        font-size: 2vw;
        font-weight: 600;
        margin-top: 5vh;
        transition: 0.3s;
        margin-bottom: 5vh;
        text-decoration: none;
    }

    .button-plano:hover {
        background: #171A1FFF;
        transform: scale(1.1);
    }

}

.planos {
    height: 90vh;
}

.teste {
    background: rgb(240, 233, 233);
}

.testeTxt {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4vw;

    .testeTitulo {
        font-family: Outfit;
        font-size: 4vw;
        line-height: 8vh;
        font-weight: 700;
        color: rgb(0, 0, 0);

    }

    .testeDescrição {
        font-family: Outfit;
        font-size: 2vw;
        line-height: 5vh;
        font-weight: 400;
        color: #171A1FE6;
        width: 90%;

    }

    .buttonTeste {
        background: #0E0E25FF;
        color: white;
        opacity: 1;
        width: 40vw;
        height: auto;
        border: none;
        border-radius: 3vw;
        font-size: 2.5vw;
        font-weight: 600;
        margin-top: 5vh;
        transition: 0.3s;
        padding: 5vw;
        text-decoration: none;
    }

    .buttonTeste:hover {
        background: #171A1FFF;
        transform: scale(1.1);
    }
}



@media (max-width: 1000px) {
    .headerImg {
        width: 80%;
        height: 80%;
    }

    .tituloHeader {
        font-size: 8vw;
    }

    .ButtonHeader {
        width: 30vw;
        height: 8vh;
        font-size: 4vw;
    }

    .mainTxt {
        width: 90%;
        height: auto;
    }

    .tituloMain {
        font-size: 8vw;
        width: 100%;
        height: auto;
    }

    .descriçãoMain {
        font-size: 4vw;
        width: 90%;
    }

    .buttonMain {
        width: 50vw;
        height: 8vh;
        font-size: 4vw;
    }

    .planos {
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 5vw;
        padding: 5vw 0;
    }

    .plano1,
    .plano2 {
        width: 70%;
        height: auto;
        padding: 5vw;
        margin: 0 auto;

        .button-plano {
            font-size: 5vw;
            width: 60vw !important;
            height: 10vh;
            font-size: 4vw;
            border-radius: 3vw;
        }   
    }

    .planotitulo,
    .planotitulo2 {
        font-size: 6vw;
        margin-top: 3vh;
    }

    .preço1,
    .preço2 {
        font-size: 7vw;
    }

    .plano1 p,
    .plano2 p {
        font-size: 5vw;
    }


    .testeTxt {
        .testeTitulo {
            font-size: 6vw;
            line-height: 10vh;
        }

        .testeDescrição {
            font-size: 4vw;
            line-height: 8vh;
        }

        .buttonTeste {
            width: 40vw;
            height: 10vh;
            font-size: 4vw;
            padding: 2vw;
        }
    }

}